{% extends "base.html.j2" %}

{% block title %} - {% block page %}{% endblock %}{% endblock %}

{% block headers %}
<style>
header {
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.profile-button {
    background: var(--brand-50);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-dark);
}

.home-button {
    font-size: 2rem;
}

</style>
{% endblock %}

{% block body %}
	<header>
        <a href="{{ url_for('home') }}" class="back-arrow home-button {{ 'invisible' if self.page() == 'Home' else '' }}">&#8592;</a>
        <h1>{{ self.page() }}</h1>
        <a class="profile-button {{ 'invisible' if self.page() == 'Profile' else '' }}" href="{{ url_for('profile') }}">
            <img src="{{ url_for('profile_picture') }}" alt="Profile" class="rounded-full">
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
