{% extends 'app/base_app.html.j2' %}

{% block page %}Home{% endblock %}
{% block headers %}
    {{ super() }}
    <style>

.notification {
    padding: 10px;
    border: 1px solid var(--brand-10);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.notification-warning {
    background: var(--bg-warning);
    color: var(--font-warning);
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: var(--brand-90);;
}

.activity {
    margin-bottom: 15px;
    background: var(--bg-light);
    box-shadow: 0 7px 23px -9px rgba(0,0,0,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    width: 90%;
    max-width: 1088px;
}

@media (max-width: 768px) {
    .activities {
        padding: 10px 0;
    }

    .activity {
        width: 100%;
        padding: 0;
    }

    .activity-date {
        margin-left: 10px;
    }

    .activity-name {
        margin-left: 10px;
    }
}

.activity-date {
    color: #494848;
    font-size: 0.8rem;
}

.activity-name {
    font-size: 1.1rem;
}

.activity-preview-image {
    margin-top: 10px;
    border-radius: 5px;
    max-width: 1088px;
}

.tag {
    background: var(--brand-30);
    color: var(--font-light);
}
    </style>
{% endblock %}
{% block content %}

{%  if not (spotify_authenticated and strava_authenticated) %}
    <div class="notification notification-warning">
        <p>You haven't connected all your accounts with the app. Connect all accounts, to use this app properly.</p>
        <a href="/setup" class="button-default button-main">Connect Accounts</a>
    </div>
{% endif %}
<div class="activities">
    {% if not activities %}
        <p>No activities found. Start recording new activities with Strava, to see them here.</p>
    {% endif %}
    {% for activity in activities %}
        <a href="/analytics/{{ activity.id }}" class="activity">
            <div class="flex flex-col">
                <div class="activity-date">🗓 {{ activity.start_date }}</div>
                <div class="activity-name text-xl">{{ activity.name }}</div>
            </div>
            <div class="flex flex-row items-center gap-x-6 gap-y-2 mt-2 ml-2 overflow-auto">
                {% for stat in activity.data.statistics %}
                    <div class="flex flex-col">
                        <div class="text-sm text-slate-600 text-nowrap">{{ stat.name }}</div>
                        <div class="font-medium text-nowrap">{{ stat.value }} {{ stat.unit }}</div>
                    </div>
                {% endfor %}
            </div>
            {% if tags[activity.id] %}
                <div class="mt-2 ml-2">
                    <div class="flex flex-wrap gap-2">
                        {% for tag in tags[activity.id] %}
                        <span class="inline-block py-1 px-3 rounded-full text-sm font-medium shadow-sm tag">
                            {{ tag | title }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <img src="/activity/{{ activity.id }}/images/route.png" alt="Activity Route" width="100%" class="activity-preview-image">
        </a>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
        }).catch(function(error) {
            console.log('Service Worker registration failed:', error);
        });
    }
</script>
{% endblock %}
