{% extends 'app/base_app.html.j2' %}

{% block page %}
    {{ analysis.title }}
{% endblock %}
{% block headers %}
    {{ super() }}

    <meta property="og:title" content="{{ activity.name }}">
    <meta property="og:description" content="Check out my activity on TrackTracks!">
    <meta property="og:image" content="{{ url_for('activity_image', activity_id=activity.id, image='route.png') }}">
    <meta property="og:url" content="{{ url_for('analytics', activity_id=activity.id) }}">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"
            integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="manifest" href="/manifest.json">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
            width: 100vw;
        }

        /* Header */
        header {
            display: flex;
            align-items: center;
            background-color: #f8f9fa;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .back-arrow {
            font-size: 2rem;
            text-decoration: none;
            color: #333;
            margin-right: 20px;
        }

        .title-container {
            display: flex;
            flex-direction: column;
        }

        h1 {
            margin: 0;
            font-size: 1rem;
        }

        .datetime {
            margin: 0;
            font-size: 0.7rem;
            color: #666;
        }

        .strava-link {
            margin-left: auto;
            color: #FC4C02;
            text-decoration: none;
        }

        /* Map */
        #map {
            height: 50vh;
        }

        .marker-pin {
            border-radius: 50% 50% 50% 0;
            background: #0bc3b4;
            position: absolute;
            transform: rotate(-45deg);
            left: 50%;
            margin-left: -20px;
            width: 40px; /* width and height must be the same as marker_width */
            height: 40px;
        }

        .marker-pin img {
            position: relative;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            margin: 3px;
            transform: rotate(45deg); /* rotate back */
            border-radius: 50%;
        }

        .song-popup {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 2px;
        }

        .song-popup > .popup-song {
            font-size: 1rem;
        }

        .song-popup > .spotify-icon {
            position: absolute;
            top: -11px;
            left: -18px;
            width: 21px;
            height: 21px;
        }

        #share-link {
            font-size: 0.8rem;
            color: #1b4869;
            text-decoration: underline;
        }

        .fact {
            background: var(--brand-90);
        }

        .tag {
            background: var(--accent-2);
            color: var(--font-light);
        }

        .fixed-column {
            position: sticky;
            left: 0;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="map"></div>

    <div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-around">
                {% if not shared_activity %}
                    <button onclick="shareActivity()" class="button-default button-main" id="share-button">Share
                        Activity
                    </button>
                    <a href="#" id="share-link" class="hidden"></a>
                {% endif %}
                <a href="https://www.strava.com/activities/{{ activity.id }}" class="strava-link">View on Strava</a>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex flex-wrap gap-2">
                {% for tag in analysis.tags %}
                    <span class="inline-block py-1 px-3 rounded-full text-sm font-medium shadow-sm tag">
                {{ tag | title }}
            </span>
                {% endfor %}
            </div>
        </div>
        <div class="activity-details">
            <p class="datetime">{{ activity.start_date_local }}</p>
            <ul>
                {% for fact in analysis.facts %}
                    <li class="mb-2 p-4 rounded-lg shadow-inner fact">
                        <p class="text-font-dark">{{ fact }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% if songs %}
        <div class="overflow-x-auto relative">
            <table class="table-fixed width-full border-collapse">
                <thead>
                <tr>
                    <th class="px-3 fixed-column"></th>
                    {% for key, val in songs[0].split.items() %}
                        <th class="px-3 text-center text-nowrap"> {{ key | unit_name(activity.type.__root__) }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        <td class="fixed-column border-b-2 bg-slate-200" data-song="{{ song.name }}" data-arist="{{ song.artist }}" onclick="toggleCover()">
                            <img src="{{ song.icon_url }}" alt="{{ song.name }}-icon" class="w-12 h-12 max-w-fit song-cover">
                            <div class="flex flex-col song-text hidden text-nowrap">
                                <p>{{ song.name }}</p>
                                <p class="text-xs">{{ song.artist }}</p>
                            </div>
                        </td>
                        {% for key, val in song.split.items() %}
                            <td class="text-center text-nowrap px-1" data-unit="{{ key }}" data-value="{{ val }}">{{ val | unit(key, activity.type.__root__) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function colorStatCells() {
            // iterate over all keys of the first song to get all units
            const units = Array.from(document.querySelectorAll('td[data-unit]')).map(cell => cell.dataset.unit);
            units.forEach(unit => {
                const cells = Array.from(document.querySelectorAll(`td[data-unit="${unit}"]`));
                const values = cells.map(cell => parseFloat(cell.dataset.value));
                const min = Math.min(...values);
                const max = Math.max(...values);
                const colorScale = chroma.scale(['#a5faa5', '#fd5a72']).domain([min, max]);
                cells.forEach(cell => {
                    const value = parseFloat(cell.dataset.value);
                    cell.style.backgroundColor = colorScale(value).hex();
                });
            });
        }

        let showCover = true;

        function toggleCover() {
            const covers = document.querySelectorAll('.song-cover');
            const texts = document.querySelectorAll('.song-text');
            if (showCover) {
                covers.forEach(cover => cover.classList.add('hidden'));
                texts.forEach(text => text.classList.remove('hidden'));
            } else {
                covers.forEach(cover => cover.classList.remove('hidden'));
                texts.forEach(text => text.classList.add('hidden'));
            }
            showCover = !showCover;
        }

        colorStatCells();

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
                console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function (error) {
                console.log('Service Worker registration failed:', error);
            });
        }

        const map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        const polyLineCoordinates = {{ polyline_coords|tojson }};
        const velocities = {{ velocities|tojson }};
        const songs = {{ songs|tojson }};

        const minVelocity = Math.min(...velocities);
        const maxVelocity = Math.max(...velocities);

        // used to fit the map to the polyline
        const polyline = L.polyline(polyLineCoordinates, {color: 'red'}).addTo(map);
        map.fitBounds(polyline.getBounds());

        // create segments from polyline coordinates and color them according to velocity
        const colorScale = chroma.scale(['#00ff00', '#ff0000']).domain([minVelocity, maxVelocity]);
        for (let i = 0; i < polyLineCoordinates.length - 1; i++) {
            L.polyline([polyLineCoordinates[i], polyLineCoordinates[i + 1]], {
                color: colorScale(velocities[i]).hex(),
                weight: 5
            }).addTo(map);
        }

        // add marker to start with icon
        songs.forEach((song, index) => {
            const iconURL = song.icon_url;
            const roundedMarkerIcon = L.divIcon({
                className: 'custom-div-icon',
                html: "<div class='marker-pin'><img src='" + iconURL + "'/></div>",
                iconSize: [40, 50], // height ~10px more because pin needs tip at bottom
                iconAnchor: [20, 50],    // center at bottom
                tooltipAnchor: [20, -28],
                popupAnchor: [0, -28]
            });
            const positionIndex = song.position_indices[0];
            const marker = L.marker(polyLineCoordinates[positionIndex], {icon: roundedMarkerIcon});
            marker.bindPopup(`
            <div class="song-popup">
                <a href="${song.url}" target="_blank" class="spotify-icon">
                    <img src="/images/spotify-icon.png" alt="Spotify Icon">
                </a>
                <span class="popup-song">♫ ${song.name}</span>
                <span class="popup-album">💿 ${song.album}</span>
                <span class="popup-artist">👤 ${song.artist}</span>
            </div>`);
            marker.addTo(map);
        });

        {% if not shared_activity %}
            function shareActivity() {
                fetch('/share/{{ activity.id }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then(response => response.json())
                    .then(data => {
                        const url = window.location.origin + '/share/' + data.token;
                        const shareLink = document.getElementById('share-link');
                        document.getElementById('share-button').classList.add('hidden');
                        shareLink.classList.remove('hidden');
                        shareLink.href = url;
                        shareLink.innerText = url;
                    });
            }
        {% endif %}
    </script>

{% endblock %}
