<!DOCTYPE html>
<html lang="de">
<head>
    <title>TrackTracks</title>

    <style>

    </style>
</head>
<body>

<header>
    <a href="{{ url_for('index') }}">TrackTracks</a>
</header>

<h1>{{ activity.name }}</h1>

<p>No positions were found for this activity.</p>

</body>
</html>
