{% extends 'app/base_app.html.j2' %}

{% block page %}Profile{% endblock %}
{% block headers %}
    {{ super() }}

    <style>
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <a class="button-default button-main" href="{{ url_for('setup_page') }}">Account Connections</a>
        <a class="button-default button-accent-2" href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endblock %}
