{% extends 'app/base_app.html.j2' %}

{% block page %}
    Setup
{% endblock %}

{% block headers %}
    {{ super() }}

    <style>
        .setup-container {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
        }

        .setup-text {
            text-align: center;
        }

        .service-container {
            background: var(--brand-90);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            position: relative;
        }

        .alpha-background {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(217, 217, 217, 0.4);
            left: 0;
        }

        .service-connected-icon {
            color: var(--brand-50);
            font-size: 3rem;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .service-logo {
            max-width: 100%;
            height: 70px;
            object-fit: contain;
        }

        .service-connected-text {
            text-align: center;
        }

        .button-connect {
            z-index: 10;
        }

        .connect-strava {
            height: 48px;
            cursor: pointer;
        }

        .button-disconnect {
            background: var(--accent-2);
        }

    </style>
{% endblock %}

{% macro service(name) %}
    <div class="service-container">
        {% if name not in connected_services %}
            <div class="alpha-background"></div>
        {% else %}
            <span class="service-connected-icon">✓</span>
        {% endif %}
        <img class="service-logo" src="/images/{{ name }}-logo.png" alt="{{ name }} logo">
        {% if name not in connected_services %}
            {% if name == 'strava' %}
                <a class="button-connect connect-strava" href="{{ url_for(name + '_login') }}">
                    <img src="/images/btn_strava_connectwith_orange.svg" alt="Connect with Strava">
                </a>
            {% else %}
                <a class="button-default button-main button-connect" href="{{ url_for(name + '_login') }}">
                    Connect with {{ name | capitalize }}
                </a>
            {% endif %}
        {% else %}
            <p class="service-connected-text">Connected with <br><b>{{ connected_services[name].username }}</b></p>
            <a class="button-default button-connect button-disconnect button-accent-2"
               href="{{ url_for(name + '_logout') }}">
                Disconnect from {{ name | capitalize }}
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <div class="setup-container">

        {% if all_services_connected %}
            <p class="setup-text">Both your Spotify and Strava accounts are connected; you can disconnect them at any
                time to stop importing data.</p>
            <a class="button-default button-main" id="btn-view-activities" href="{{ url_for('home') }}">
                View Activities
            </a>
        {% else %}
            <p class="setup-text">To get started, please connect your Spotify and Strava accounts so we can import your
                data.</p>
        {% endif %}

        {{ service('strava') }}
        {{ service('spotify') }}
    </div>

    <div class="">

    </div>
{% endblock %}
