{% extends "base.html.j2" %}

{% block title %} - {% block page %}{% endblock %}{% endblock %}

{% block body %}
    <div class="flex flex-col min-h-screen">
    <header class="flex relative justify-between py-3 px-5">
        <a href="{{ url_for('index') }}">
            <img src="icons/icon-512x512.png" alt="Spotirun Logo" class="logo max-w-10 max-h-15 rounded-full">
        </a>
        <h1 class="text-2xl">{{ self.page() }}</h1>
        <a href="{{ url_for('login') }}" class="button-default button-main">Login</a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

{#    push footer to bottom#}
    <div class="grow"></div>
    <footer class="py-3 px-5 text-center">
        <a href="/impressum">Impressum</a> |
        <a href="/datenschutz">Datenschutzerklärung</a> |
        <a href="/support">Support</a>
    </footer>
    </div>
{% endblock %}
