<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TrackTracks{% block title %}{% endblock %}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block headers %}
    {% endblock %}
    <style>
:root {
    --font-dark: #2B2F24;
    --font-light: #fff;
    --font-grey: #666;

    --accent-1: #F8BB85;
    --accent-2: #AB4279;

    --bg-warning: #FFC107;
    --bg-error: #FF5722;
    --bg-success: #4CAF50;
    --font-warning: #000;
    --font-error: #fff;
    --font-success: #fff;

    --brand-10: #14290A;
    --brand-20: #285313;
    --brand-30: #3B7C1D;
    --brand-40: #4FA527;
    --brand-50: #63CF30;
    --brand-60: #82D85A;
    --brand-70: #A1E283;
    --brand-80: #C1ECAC;
    --brand-90: #E0F5D6;

    --bg-light: #f4f4f4;
    --bg-dark: #333;
}

html,body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.5em !important;
    font-weight: 700;
    color: var(--font-dark);
}

.button-default {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.button-main {
    background: var(--brand-40);
    color: var(--font-light);
}

.button-accent-2 {
    background: var(--accent-2);
    color: var(--font-light);
}

header {
    background: var(--brand-70);
    width: 100%;
    display: flex;
    position: relative;
    height: 60px;
}

    </style>
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
