{% extends 'base.html.j2' %}

{% block headers%}
    <meta property="og:title" content="TrackTracks - Track Your Sports Activities and Music">
    <meta property="og:description" content="Sign up to analyze your workouts and discover your music trends.">
    <meta property="og:image" content="static/icons/icon-512x512.png">
    <meta property="og:url" content="{{ url_for('index') }}">
    <meta property="og:type" content="website">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-light);
    }

    @media (min-width: 500px) {
        body {
            height: 100vh;
        }

        footer {
            position: fixed;
            bottom: 0;
        }
    }

    .container {
        text-align: center;
        background: var(--bg-light);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 20px;
    }
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/background-index.png');
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        z-index: -1;
    }

    .logo {
        width: 100px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
    h1 {
        font-size: 2em;
        margin: 0.5em 0;
        color: var(--font-dark);
    }
    .app-name-highlight {
        color: var(--brand-20);
    }
    p {
        font-size: 1em;
        margin: 1em 0;
        color: var(--font-grey);
    }

    .btn-container {
        margin-top: 20px;
    }

    #btn-get-started {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .feature-section {
        margin-top: 40px;
    }
    .feature-section img {
        max-width: 100%;
        border-radius: 10px;
        margin-top: 20px;
    }

    .app-logos {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .app-logo {
        width: auto;
        height: 70px;
    }
    footer {
        padding: 10px;
        text-align: center;
        width: 100%;
        background: #fff;
        box-sizing: border-box;
    }
    footer a {
        color: #007BFF;
        text-decoration: none;
        margin: 0 10px;
    }
    footer a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block body %}
<div class="background">
</div>
<div class="container">
    <img src="icons/icon-512x512.png" alt="Spotirun Logo" class="logo">
    <h1><span class="app-name-highlight">TrackTracks</span> - Track Your Sports Activities and Music</h1>
    <p>Sign up to analyze your workouts and discover your music trends.</p>
    <div class="btn-container">
        <a href="{{ url_for('login') }}" class="button-default button-main" id="btn-get-started">Get Started</a>
    </div>
    <div class="feature-section">
        <h2>How It Works</h2>
        <p>TrackTracks syncs your Strava activities and Spotify history.
            Discover where each song was played during your workouts.
            Gain deeper insights into how your music choices affect your performance.
        </p>
        <div class="app-logos">
            <img src="images/api_logo_pwrdBy_strava_stack_light.svg" alt="Powered by Strava" class="app-logo">
            <img src="images/spotify-logo.png" alt="Spotify Logo" class="app-logo">
        </div>
    </div>
</div>
<footer>
    <a href="/impressum">Impressum</a> |
    <a href="/datenschutz">Datenschutzerklärung</a> |
    <a href="/support">Support</a>
</footer>
{% endblock %}
